*{
    margin: 0;
    padding: 0;
}


.top {
    color:darkred;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
}

.column {
    float: left;
    width: 50%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .vl {
    border-left: 4px dashed darkred;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
  hr.dashed {
    border-top: 4px dashed darkred;
  }